*{
    margin: 0%;
    font-family: 'Abel', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-style:normal;
    font-weight:normal;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
}
html,body{
    overflow-x: hidden;
}
html{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
body{
    height: 100%;
    position: relative;
    background-image: linear-gradient(to right top, #fff6ef, #fdf2e7, #f9efdf, #f4ecd7, #ede9d0);
}
main{
    min-height: 85%;
}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 10px;
    text-align: center;
    font-weight: bold;
}
h2 {
    color: #333333;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
ul{
    list-style-type: none;
    letter-spacing: 2px;
}
iframe{
    display: block;
}
button{
    border-radius: 10px;
}
footer div a{
    text-decoration: none;
}
/*
footer{
    position:absolute;
    bottom: 0px;
    width: 100%;
} */
a{
	text-decoration: none;
	color: rgb(255, 83, 4);
}