/* GRID INDEX */
.contenedor1{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: repeat(3, 0.8fr);
    grid-template-areas: 
        "buscador mapa"
        "divisor divisor"
        "informacion1 informacion2";
    grid-gap: 2rem;
    margin: 2vh 12vw;
}
#articulo1{
grid-area: buscador;
align-self: center;
}
#articulo2{
grid-area: informacion1;
margin: 0 4vw;
padding: 2vh 1vw;
align-self: center;
backdrop-filter: blur(2.5px);
background-color: rgba(255, 255, 255, 0.425);
border-radius: 12px;
text-align: center;
line-height: 1;
backdrop-filter: blur(2.5px);
}
#articulo3{
grid-area: mapa;
align-self: center;
}
#articulo4{
grid-area: informacion2;
margin: 0 4vw;
padding: 2vh 1vw;
align-self: center;
backdrop-filter: blur(2.5px);
background-color: rgba(255, 255, 255, 0.425);
border-radius: 12px;
text-align: center;
line-height: 1;
backdrop-filter: blur(2.5px);
}
#divisorIndex{
grid-area: divisor;
border: 2px#f8f8f870;
border-style:double;
}



/*GRID TOP IMAGENES*/
.contenedor2 {
display: grid; 
grid-template-columns: 1fr 1fr 1fr; 
grid-template-rows: 0.35fr 0.35fr; 
gap: 1.5rem 0px; 
grid-template-areas: 
  "tituloFoto tituloFoto tituloFoto"
  "fotoTop textoTop textoTop";
margin-right: 8rem;
padding-top: 2rem;
}
#tituloTop{
grid-area: tituloFoto;
}
#fotoTop{
grid-area: fotoTop;
text-align: right;
margin-bottom: 0.5rem;
}
#textoTop{
grid-area: textoTop;
}



/*GRID COMO FUNCIONA*/
.contenedor3 {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 0.1fr 0.25fr 0.25fr 0.25fr 0.25fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"tituloComoFunciona"
"primerPaso"
"segundoPaso"
"tercerPaso"
"cuartoPaso";
}

#tituloComoFunciona{
grid-area: tituloComoFunciona;
padding: 20px 0px;
margin: 0;
}

#primerPaso{
grid-area: primerPaso;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
animation-duration: 3s;
animation-name: slidein;
}
  
@keyframes slidein {
from {
margin-left: 100%;
width: 300%
}
to {
margin-left: 0%;
width: 100%;
}
}

#segundoPaso{
grid-area: segundoPaso;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
animation-duration: 8s;
animation-name: slidein;
}

#tercerPaso{
grid-area: tercerPaso;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
animation-duration: 13s;
animation-name: slidein;
}
  
#cuartoPaso{
grid-area: cuartoPaso;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
animation-duration: 20s;
animation-name: slidein;
}

/*GRID CONTACTANOS*/
.contenedor4 {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 0.2fr 0.1fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
"tituloContactanos"
"formularioContactanos";
}

#tituloContactanos{
grid-area: tituloContactanos;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 0px;
}

#formularioContactanos{
grid-area: formularioContactanos;
}



/*GRID FAQ*/
.contenedor5{
display: grid;
grid-template-columns: 3fr;
grid-template-rows:  0.35fr 1.25fr;
grid-template-areas: 
"tituloFaq"
"preguntasFaq";
grid-gap: 0px;
}
#tituloFaq{ 
grid-area: tituloFaq;
padding-top: 1.5rem;
}
#preguntasFaq {
grid-area: preguntasFaq;
margin: 0px 20vw;
}



/*GRID COMUNIDAD */
.contenedor6 {
display: grid; 
grid-template-columns: 1fr 1fr 1fr; 
grid-template-rows: 0.2fr 1fr; 
gap: 10px 0px; 
grid-template-areas: 
"tituloComunidad tituloComunidad tituloComunidad"
"fotosComunidad fotosComunidad fotosComunidad"; 
}
#tituloComunidad{
grid-area: tituloComunidad;
}
#fotosComunidad{
grid-area: fotosComunidad;
text-align: left;
padding: 2rem 5rem;
}
