/* TABLET */
@media (min-width: 768px) and (max-width: 1024px){
    //INDEX
    .contenedor1{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.8fr 0.25fr 0.5fr;
        grid-template-areas:
        "buscador buscador"
        "mapa mapa"
        "divisor divisor"
        "informacion1 informacion2";
        margin: 0px 0px;
    }
    .flexDerechoIndex{
        display: flex;
        flex-wrap: wrap;
    }
    .fotoIndex{
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .line-1{
    font-size: 3vmax;
    }
    .fabContenedor{
        display: none;
    }
    @keyframes typewriter{
    from{width: 0;}
    to{width: 90%;}
    }
    .navMedia{
        display: inherit;
    }

    //TOP IMAGENES
    .contenedor2 {
        margin:0 15px;
        }
    .flexDerechoTop{
        margin: 0 0;
        margin-left: 10px;
    }
}

/* SMARTPHONE */
@media (max-width: 767px){
    //INDEX
    .contenedor1{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas:
        "buscador"
        "mapa"
        "divisor"
        "informacion1"
        "informacion2";
        margin: 0px 0px;
    }
    .flexDerechoIndex{
        display: flex;
        flex-wrap: wrap;
    }
    .fotoIndex{
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .line-1{ 
        font-size: 1.8vmax;   
    }
    .cajaBuscar{
        width: 100%;
    }
    .botonBuscar{
        position: relative;
        left: 40%;
        width: 30%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .fabContenedor{
        display: none;
    }
    .navMedia{
        display: inherit;
    }
    
    //TOP IMAGENES
    .contenedor2{
        display: grid; 
        grid-template-columns: 1fr ; 
        grid-template-rows: 0.2fr 0.2fr 0.2fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "tituloFoto"
          "fotoTop"
          "textoTop";
          margin: 0 0;
        }
    .flexDerechoTop{
        margin: 0 15px;
        margin-left: 10px;
    }
    #fotoTop{
        position:relative;
        text-align: center;
    }
}