@import "generales";
@import "clases";
@import "flex";
@import "grids";
@import "animaciones";
@import "medias";



/* Boton de accion flotante */
.fabContenedor {
	position: fixed;
	bottom: 60px;
	right: 50px;
	cursor: pointer;
	z-index: 3;
}
.fab-icon-espacio {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #016fb9;
}
.fab-icon-espacio:hover{
	opacity: 0.75;
}

.fab-icon-espacio i {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 25px;
	color: #ffffff;
}
.fab {
	width: 60px;
	height: 60px;
	background: #e43c2d;
}
.fab-opciones {
	list-style-type: none;
	margin: 0;
	position: absolute;
	bottom: 70px;
	right: 0;
	opacity: 0;
	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: 85% bottom;
}
.fab:hover + .fab-opciones, .fab-opciones:hover {
	opacity: 1;
	transform: scale(1);
}
.fab-opciones li {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}
.fab-etiqueta {
	padding: 2px 5px;
	align-self: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 16px;
	background: #666666b0;
	color: #ffffff;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
	margin-right: 10px;
}

/* Display preguntas - FAQ */
button.accordion-button{
	color: black !important;
}
.accordion-body{
	background-color: #fff5da;
}

/* ERROR 404 */
.errorSeccion{
	position: relative;
	top: 25vh;
}
.errorTitulo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto auto;
}
.errorOpciones{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.errorBoton{
	margin: 0.3vh 1vw;
}
.errorBoton,
.errorBoton:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 25px;
  background: linear-gradient(45deg, transparent 5%, #f76c2b 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #272727;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.errorBoton:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ERROR SCAENA';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.errorBoton:hover:after {
  animation: 1.45s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .errorBoton,
  .errorBoton:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
