@import "generales";
@import "clases";
@import "flex";
@import "grids";
@import "animaciones";
@import "medias";



/* Boton de accion flotante */
.fabContenedor {
	position: fixed;
	bottom: 80px;
	right: 30px;
	cursor: pointer;
}
.fab-icon-espacio {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: #016fb9;
}
.fab-icon-espacio:hover{
	opacity: 0.75;
}

.fab-icon-espacio i {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 25px;
	color: #ffffff;
}
.fab {
	width: 60px;
	height: 60px;
	background: #e43c2d;
}
.fab-opciones {
	list-style-type: none;
	margin: 0;
	position: absolute;
	bottom: 70px;
	right: 0;
	opacity: 0;
	transition: all 0.3s ease;
	transform: scale(0);
	transform-origin: 85% bottom;
}
.fab:hover + .fab-opciones, .fab-opciones:hover {
	opacity: 1;
	transform: scale(1);
}
.fab-opciones li {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
}
.fab-etiqueta {
	padding: 2px 5px;
	align-self: center;
	user-select: none;
	white-space: nowrap;
	border-radius: 3px;
	font-size: 16px;
	background: #666666b0;
	color: #ffffff;
	box-shadow: 0 6px 20px rgba(0,0,0,0.2);
	margin-right: 10px;
}

/* Display preguntas - FAQ */
button.accordion-button{
	color: black !important;
}
.accordion-body{
	background-color: #fff5da;
}
